/* Sidebar */
.sidebar{
    background-color: #F8EDED;
    min-height: 100vh; 
}

/* Profile */
ul.nav div.profil h4{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* Menu */
div.menu li a{
    color: black;
}

/* Responsive */
@media (max-width: 991px) {
    /* Sidebar */
    .sidebar{
        min-height: auto;
    }
    /* profil */
    div.profil{
        margin-top: 50px;
    }
}

@media (max-width: 575px){
    /* Sidebar */
    ul.flex-exsm{
        justify-content: center;
    }

}